body {
  margin: 0;
}

.pane {
  height: 50vh;
  display: flex;
}

.editor-container {
  display: flex;
  padding: 0.5rem;
}

.editor-container.collapsed .CodeMirror-scroll {
  position: absolute;
  overflow: hidden !important;
}

.expand-collapse-btn {
  margin-left: 0.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.editor-title {
  display: flex;
  color: white;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.CodeMirror {
  height: 100% !important;
}

.code-mirror-wrapper {
  width: 100%;
  overflow: hidden;
}

.output-panel {
  background-color: white;
  width: 100%;
  border: 2px solid var(--color-primary);
}
