.admin-container {
  padding-bottom: 2rem;
  background-color: var(--color-primary);

  h1 {
    text-align: center;
  }

  .admin-title {
    background-color: white;
    padding: 10px;
  }
  .graph-title {
    background-color: var(--color-primary);
    color: white;
    padding: 10px;
  }
}

.graph-container {
  display: flex;
  justify-content: center;
}
.graph {
  background-color: white;
}

.graph-section {
  background-color: var(--color-primary);
}
