
.main-header{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;

    .main-header-content{
        display: flex;
        flex-wrap: wrap;

        .header-text{
            
            h1{
                color:  var(--color-primary);
                font-weight: 100;
            }

         
            font-size: 1.5rem;
            margin-left: 2rem;
            color: white;
        }

        i{
            font-size: 15rem;
            color:  var(--color-primary);
        }

    }
    
}


